header {
  z-index: 50;
  position: fixed;
  top: 0;
  backdrop-filter: blur(6px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  margin: 30px auto;
  border-radius: 20px;
  padding: 7px 20px;
  width: 90%;
  background: rgba(25, 25, 28, 0.1);
  justify-content: space-between;
  max-width: 1240px;
  align-items: center;
}
.header__nav{
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__button{
    padding: 15px 30px;
    border-radius: 20px;
    background: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
    outline: none;
}

@media (max-width: 768px){
  .header__nav{
    display: none;
  }
  .header__title{
    width: 100px;
  }
  header{
    width: 90%;
  }
}